
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.auth-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('./asset/images/Cryptocurrency.webp');
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 3rem 5rem;
    position: relative;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.463);
}

.abc-badge {
    position: relative;
    bottom: 5px;
    right: 150px;
}

.form-control {
    width: 20rem;
}

.google-button {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-form div {
    margin-bottom: 5px;
}

.auth-form-btn {
    display: flex;
    align-items: center;
}

.auth-form-btn button,
a {
    width: 50%;
    text-align: center;
}

.auth-form-btn button {
    background-color: gold;
    padding: 9px;
}

.auth-form input {
    padding: 9px;
}

.btn-link {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 14px;
    text-decoration: underline;
}

.authentication {
    height: 730px;
    background-image: url('./asset/images/Cryptocurrency.webp');
    background-color: #14161a;
    background: no-repeat cover;
    color: white;
    
}

.home {
    min-height: 100vh;
    background-color: #14161a;
}

.auth-form a {
    text-decoration: none;
    color: gold;
}

.title {
    flex: 1;
    color: gold;
    font-weight: 700;
    cursor: pointer;
}

.banner {
    background-image: url('./asset/images/Cryptocurrency.webp');
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-position: center;
}

.banner-carouse {
    display: flex;
    /* border: 2px solid gold; */
    align-items: center;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.544);
    /* rgba(52, 58, 64, 0.5); */
}

.carouse-item {
    border: 2px solid wheat;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
.carouse-item image{
   height: 100px;
   width: 100px;
   padding: 10px;
   background-size: contain;
}

/* rgba(252,185,0,1)
rgba(255,105,0,1)
rgb(108 117 125)
rgb(52 58 64) */